@import url(https://fonts.googleapis.com/css?family=Iceland:regular);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.category-list {
    background-color: rgb(222, 247, 198);
    flex: 1 1 auto;
    text-align: center;

}
.category-list h1{
    font-size: 2.25rem;
    margin-bottom: 2rem;
    padding: 1rem 0;
}
.list {
    display: flex;
    flex-direction: column;   
}
.list_item{
    list-style: none;
    padding: 0.75rem 0;
    cursor: pointer;
}
.list_item:hover{
    transform: scale(0.9);
    color: rgb(34, 2, 65);
}
.list_name{
    font-size: 1.75rem;
}
.product-list {     
    flex: 2 1 auto;
}
.product_list {
    display: none;
}
.product_list_open{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    gap:2rem; 
}
.product_item {
    flex: 1 1 auto;
    list-style: none;
}
.product_card {
    background-color: rgb(255, 255, 255);
    border-radius: 1.25rem;
    text-align: center;
    padding: 1rem 2rem;
}
.product_card:hover{
    transform: scale(0.9);
    background-color: aliceblue;
}
.img_product {
    width: 9.375rem;
    height: 9.375rem;
    margin-bottom: 1.25rem;
}
.product-info {    
    flex: 2 1 auto;
}
.product_block {
    display: none;
}
.product_block_open{
    position: absolute;
    top: 4.375rem;
    right: 7.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.title_product {
    margin-bottom: 1.875rem;
}
.info_block {
    margin-bottom: 1rem;
}
.buy {
    border: none;
    padding: 1rem 2rem;
    background-color: rgb(68, 131, 6);
    border-radius: 1rem;
    color: rgb(253, 253, 253);
}
.buy:hover{
    transform: scale(0.9);
    background-color: #fff;
    color: rgb(68, 131, 6);
    border: 1px solid rgb(68, 131, 6);
}
